---
layout: handbook-page-toc
title: "Progressive Delivery OKR Archive"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Overview

This the archive of past OKRs for [Progressive Delivery](/direction/ops/#progressive-delivery) (PD).

<a href="https://gitlab.com/-/ide/project/gitlab-com/www-gitlab-com/edit/master/-/data/okrs.yml" class="btn btn-default btn-sm">Update OKRs</a>

## OKRs

##### 2️⃣ [FY21-Q2](https://gitlab.com/gitlab-com/www-gitlab-com/-/issues/7583) (May 1, 2020 to July 31, 2020)

<%= partial("direction/okrs-list", locals: { ref_key: "Progressive Delivery", fiscal_year_key: 2021, quarter_key: "Q2" }) %>

##### 1️⃣ FY21-Q1 (Feb 1, 2020 to April 31, 2020)

<%= partial("direction/okrs-list", locals: { ref_key: "Progressive Delivery", fiscal_year_key: 2021, quarter_key: "Q1" }) %>
