---
layout: handbook-page-toc
title: "Business Operations - Tech Stack Details"
---

%h2 
  Tech stack related processes

%h4
  Update tech stack information

%p 
  Please visit our 
  %a{href: "/handbook/business-ops/tech-stack-applications/#tech-stack-updates"} 
    Tech Stack main page
  for instructions on how to request updates to the Tech Stack information.

%h4
  Request Access

%p
  If you need to request access for any of the following tools, please refer to and follow the
  %a{href: "/handbook/business-ops/team-member-enablement/onboarding-access-requests/access-requests/frequently-asked-questions/#so-you-need-access-to-a-system-or-a-groupvault"}
    Access Request process.

%h2 
  Tech Stack Applications

- data.tech_stack.each do |stack|
  %h2
    = stack.title
  %p
    = kramdown(stack.description) if stack.description
