---
layout: handbook-page-toc
title: "Progressive Delivery Planning Archive"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Overview

This the archive of past planning related content for [Progressive Delivery](/direction/ops/#progressive-delivery) (PD).

<a href="https://gitlab.com/-/ide/project/gitlab-com/www-gitlab-com/edit/master/-/sites/handbook/source/handbook/engineering/ux/stage-group-ux-strategy/release/progressive-delivery/_progressive_delivery_planning.md.erb" class="btn btn-default btn-sm">Update planning</a>

## Planning

🐨 [2020-Q2](https://gitlab.com/groups/gitlab-org/-/epics/2636)
- 13.0 [Planning](https://gitlab.com/gitlab-org/ci-cd/progressive_delivery/-/issues/1) & [Needs weight](https://gitlab.com/gitlab-org/gitlab/-/issues/212773) • [Kickoff video](https://youtu.be/aHyKXgYt3Yc)
- 13.1 [Planning](https://gitlab.com/gitlab-org/ci-cd/progressive_delivery/-/issues/2) & [Needs weight](https://gitlab.com/gitlab-org/gitlab/-/issues/215759) • [Kickoff video](https://youtu.be/Y3DqrCoEndE) & [UX kickoff video](https://youtu.be/XrFoNSdff8o)
- 13.2 [Planning](https://gitlab.com/gitlab-org/ci-cd/progressive_delivery/-/issues/4) & [Needs weight](https://gitlab.com/gitlab-org/gitlab/-/issues/218366) • [Kickoff video](https://youtu.be/V6P2E-g7AKY)
